

:root{
    --maincolor: #006888;
    --maintitlefont: 'lato', sans-serif;    
    --mainfont:'Roboto', sans-serif;
    --mainbuttoncolor:#022833;
    }
    .nav-right span{
        display:inline-block;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;

        
    }

  .nav-right span> img{
       display: block;
        height: 30px;
        width: 30px;
        border: 1px solid white;
        padding: 2px;
        background-color: white;
        border-radius: 10px;
        line-height: 40px;
        
        
    }

    .nav-right{
        width: 90%;
        padding-right: 0px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

#form{
border: 1px solid black;
width: 40px;
border-radius: 30px;
margin-right: 70px;
height: 25px;
padding: 8px;
position: relative;
background-color: white;

  
}



label::after{
  content: " ";
  height: 23px;
  width: 20px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0;
  right: 21px;
  background:#006888 ;
  transition: all 200ms;
  cursor: pointer;
}



input{
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  bottom: 0;
}

input:checked + label::after{
background-color: #022833;
right: -0;
}

.-nav-right input{
  position: absolute ;
  width: 1px;
  height: 1px;
  overflow: hidden;
  bottom: 0;
}


body.change{
    background-color: rgb(4, 17, 17);;
}

header.change{
    background-color: black;
    border: none;
}
header.change h3{
    color: white;
} 
#intro.change span{
    color: var(--maincolor);
} 

.content.change{ 
    background-color: rgb(4, 17, 17);

}
.content.change #intro >h1{
    color: white;
}



#intro.change p{
    color: rgba(255, 255, 255, 0.548);
}
#intro.change button{
    background-color: rgba(10, 87, 87, 0.144);
    border: 1px solid rgba(255, 255, 255, 0.596);
}







*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
      background-color: white;
}


header .icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header img{
    margin-right: 5px;
    width: 25px;
    height: 20px;
    display: none;
 
  
}
header h3{
    font-family: var(--maintitlefont);
    font-weight: 900;
    letter-spacing: .5px;
    font-size:1rem;
    color: var(--mainbuttoncolor);
}
.containself{
    max-width: 96%;
    margin: auto;
}

header{
    height: 70px;
    background-color: white;
 border-bottom: 1px solid var(--maincolor); 
   
}



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}


 header button{
     padding: 7px 13px;
font-family: var(--mainfont);
     border: none;
     display: inline;
     background-color: white;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.699);
     transition: all .1s
    
 }

 header button:hover{
     border: 1px solid var(--mainbuttoncolor);
 }

#nav-but1 a{
   color: white;
    font-size: .8em;
    font-weight: 900;
    text-decoration: none;
 }
 #nav-but2 a{
    color: white;
     font-size: .9em;
     font-weight: 900;
     text-decoration: none;
  }

#nav-but1{
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px ;
    border-top-left-radius:10px ;
    
    background-color: var(--maincolor);
    color: white;
    margin-right: -5px;
}



#nav-but1:hover{
    transform: scale(1.1);

background-color: white;

}

#nav-but1:hover a{
    color:#022833;
}

#nav-but2:hover{
    transform: scale(1.1);
background-color: white;
color:#022833;
}

#nav-but2:hover a{
    color:#022833;
}


#nav-but2{
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
   
    color: white;
    background-color: var(--mainbuttoncolor);
 
}

.content{
    background-color: white;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

} 


.content > .image-container{
    background-color: white;
    width: 94vw;
    border-radius: 10px;
    margin: auto;
  overflow: hidden;
  position: relative;
}

.content > .image-container img{
    display: block;
  width: 100%;
  height: 400px;
  margin: auto;
   
}


button{
    cursor: pointer;
}

.image-container .click{
    position: absolute;
    left: 45%;
    top: 93%;
   
}

.image-container p{
    font-family: var(--mainfont);
    color: black;
    font-size: .7rem;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;


}


.par{
    position: absolute;
    top:100%;
    left: 96%;
    transform:translate(-95%, -98%);
    display: grid;
    place-content: center;
  padding: 25px 10px;
  color: #022833;
    height: 35px;
    background-color: var(--mainbuttoncolor); 
       border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    width: 200px;
}

.par >p{
    color:rgba(255, 255, 255, 0.882);
    font-size: .6rem;
    margin-bottom: 4px;
    font-family: var(--mainfont);
    

}





.intro-container{  
position: relative;

}


#intro{
margin: 45px 35px 70px 20px;


}

#intro h1{
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1px;
    color:var(--maincolor);
    
   
}

#intro h1 >span{
    color: var(--mainbuttoncolor);
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 1px;
   
}

#intro p{
   
   font-size: 15px;
   margin: 24px 0 ;
     color: rgba(0, 0, 0, 0.719);
    font-family: var(--mainfont);
  font-weight: 600;
}




#intro button{
  

 border-radius: 20px;
    border: none;
  
    color: white;
background-color: var(--mainbuttoncolor);
    font-family: var(--mainfont);
    padding: 9px 17px;
    font-weight: 900;
    font-size: .8rem;
    transition: all .2s;

}


#intro button:hover{
    color: var(--mainbuttoncolor);
transform: scale(1.1);
background-color: rgba(255, 255, 255, 0.568);
border: 1px solid var(--mainbuttoncolor);



border: 1px solid --maincolor
}




@media only screen and (min-width: 600px) and (max-width:700px){

    
#form{
    border: 1px solid black;
    width: 50px;
    border-radius: 30px;
    margin-right: 70px;
    height: 32px;
    padding: 8px;
    position: relative;
    background-color: white;
    
      
    }
    
    
    
    label::after{
      content: " ";
      height: 30px;
      width: 27px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0;
      right: 21px;
      background:#006888 ;
      transition: all 200ms;
      cursor: pointer;
    }
    
    
    

    body{
        background-color: white;
    }
.content{
    display:flex;
    flex-direction: column-reverse;
    
}

header{
    height: 10vh;
   
}
header h3 {
font-size: 1rem;
} 
header img{
    height:20px;
}
    
    #intro{
        
        width: 90vw;
        height: 100%;
      justify-content: space-between;
  align-items: center;
        display: flex;
        padding-top: 0px;
     
        }
        .intro-container{  
            position: relative;
            height: 40%;
            
            }
    
        #intro h1{
    
            font-family: var(--maintitlefont);
            font-weight: 900;
            font-size: 2rem;
            line-height: 40px;
            color: var(--maincolor);
           
        }
#intro h1> span{
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 2.3rem;
    line-height: 40px;
    letter-spacing: 1px;
    color: var(--mainbuttoncolor);
}
        #intro p{
            font-size: .9rem;
            color: var(--maincolor);

        }
        #intro button{
  

            border-radius: 20px;
               border: none;
             
               color: white;
           background-color: var(--mainbuttoncolor);
               font-family: var(--mainfont);
               padding: 9px 17px;
               font-weight: 900;
               font-size: .9rem;
               transition: all .2s;
           
           }
           
           
           #intro button:hover{
               color: var(--mainbuttoncolor);
           transform: scale(1.1);
           background-color: rgba(255, 255, 255, 0.568);
           border: 1px solid var(--mainbuttoncolor);
           
           
           
           border: 1px solid --maincolor
           }
    .image-container p{
        font-family: var(--mainfont);
        color: black;
        font-size: .9rem;
        margin-bottom: 5px;
        font-weight: 900;
        letter-spacing: 1px;
    
    
    }
    .content > .image-container{
        background-color: white;
        width: 70vw;
     
        border-radius: 10px;
        margin: auto;
      overflow: hidden;
      position: relative;
       
    }
    
    
    .par{
        position: absolute;
        top:97%;
        left: 97%;
        transform:translate(-95%, -98%);
        display: grid;
        place-content: center;
      padding: 25px 10px;
      color: #022833;
        height: 44px;
        background-color: white; 
           border-bottom-left-radius: 10px;
        border-top-right-radius: 20px;
        width: 180px;
    }
    
    .par >p{
        color:rgba(10, 2, 4, 0.836);
        font-size: .7rem;
        font-family: var(--mainfont);
        
    
    }
}

@media only screen and (min-width: 700px) and (max-width:1100px){
   
       
    
    
    header h3 {
    font-size: 1.2 rem;
    } 
    header img{
        height:20px;
    }
    :root{
        --maincolor: #006888;
        }
        
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body{
            width: 100vw;
            height: 100vh;
            overflow-x: hidden;
        }

        header img{
            margin-right: 7px;
            width: 35px;
            height: 28px;
        }
        
        header h3{
            font-family: var(--maintitlefont);
            font-weight: 900;
            letter-spacing: .3px;
          
            font-size: 1.4rem;
            color: black;
        }
        .containself{
            max-width: 96%;
            margin: auto;
        }
        
        header{
        
            height: 7vh;
        
            background-color: white;
           
        }
        
        header nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        
        
         header button{
             padding: 10px 19px;
        
             border: none;
             display: inline;
             background-color: white;
             font-size: .9em;
             font-weight: 900;
             box-shadow: 0 0 3px rgba(0, 0, 0, 0.699);
            
         }
       
        
        .content{
            height: 93vh;
            flex-direction: row-reverse;
        } 
       
        .content > .image-container img{
            height: 100%;
            width: 100%;
            border-radius: 15px;
        }
        .content > .image-container{
            background-color: white;
            height: 90%;
            margin: auto;
            width: 40vw;
        }
        
       
 .content > .intro-container{
            height: 100%;
            width: 55vw;     
    
position: relative;
}



#intro{
position: absolute;
top: 70px;
left: 30px;

}


.aside h2{
    color: rgba(255, 255, 255, 0.815);
    font-family: var(--mainfont);
    font-size: 2.2rem;
    letter-spacing: .5px;
    line-height: 50px;
}
#intro h1{
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 3rem;
    line-height: 70px;
    letter-spacing: 1px;
    color: var(--maincolor);
    
   
}

#intro h1 >span{
    color: var(--mainbuttoncolor);
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 3rem;
    line-height: 70px;
    letter-spacing: 1px;
   
}

#intro p{
   
    margin-top: 50px ;
   font-size: 21px;
     color: var(--maincolor);
    font-family: var(--mainfont);
  font-weight: 600;
}




#intro button{
  

    border-radius: 20px;
       border: none;
     
       color: white;
   background-color: var(--mainbuttoncolor);
       font-family: var(--mainfont);
       padding: 12px 19px;
       font-weight: 900;
       font-size: .8rem;
       transition: all .2s;
   
   }
   
   
   #intro button:hover{
       color: var(--mainbuttoncolor);
   transform: scale(1.1);
   background-color: rgba(255, 255, 255, 0.568);
   border: 1px solid var(--mainbuttoncolor);
   
   
   
   border: 1px solid --maincolor
   }

.image-container p{
    font-family: var(--mainfont);
    color: black;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;


}



.par{
    position: absolute;
    top:99%;
    left: 98%;
    transform:translate(-95%, -98%);
    display: grid;
    place-content: center;
  padding: 25px 9px;
  color: #022833;
    height: 40px;
    background-color: var(--mainbuttoncolor); 
       border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    width: 180px;
}

.par >p{
    color:rgba(255, 255, 255, 0.882);
    font-size: .6rem;
    font-family: var(--mainfont);
    

}
}

@media only screen and (min-width: 1000px){

    #form{
        border: 1px solid black;
        width: 50px;
        border-radius: 30px;
        margin-right: 70px;
        height: 32px;
        padding: 8px;
        position: relative;
        background-color: white;
        
          
        }
        
        
        
        label::after{
          content: " ";
          height: 30px;
          width: 27px;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: 0;
          right: 21px;
          background:#006888 ;
          transition: all 200ms;
          cursor: pointer;
        }
        
        
        
    :root{
        --maincolor: #006888;
        }
        
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body{
            width: 100vw;
            height: 100vh;
            overflow-x: hidden;
        }

        header img{
            margin-right: 7px;
            width: 35px;
            height: 28px;
        }
        
        header h3{
            font-family: var(--maintitlefont);
            font-weight: 900;
            font-size: 1.1rem;
            color:var(--mainbuttoncolor);
        }
        .containself{
            max-width: 96%;
            margin: auto;
        }
        
        header{
        
            height: 9vh;
        
            background-color: white;
           
        }
        
        header nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }
        
        
         header button{
             padding: 10px 20px;
             border: none;
             display: inline;
             background-color: white;
             font-size: .9em;
             font-weight: 900;
             box-shadow: 0 0 3px rgba(0, 0, 0, 0.699);
            
         }
       
        
        .content{
            height: 91vh;
            width: 100vw;
            flex-direction: row-reverse;
        } 

        .content > .image-container img{
            display: block;
            width: 90%;
            height: 100%;
            border-radius: 17px;
        }
        
        .content > .image-container{
            border-radius: 10px;
            background:none;
            height: 90%;
            margin: auto;
            width: 40vw; 
            overflow: hidden;
        }
        
       
 .content > .intro-container{
            height: 100%;
            width: 60vw;     
    
position: relative;
}



#intro{
position: absolute;
top: 70px;
left: 100px;

}


.aside h2{
    color: rgba(255, 255, 255, 0.815);
    font-family: var(--mainfont);
    font-size: 2.2rem;
    letter-spacing: .5px;
    line-height: 50px;
}

#intro h1{
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 4.2rem;
    line-height: 80px;
    letter-spacing: 1px;
    color: var(--maincolor);
    
   
}

#intro h1 >span{
    color: var(--mainbuttoncolor);
    font-family: var(--maintitlefont);
    font-weight: 900;
    font-size: 4.2rem;
    line-height: 70px;
    letter-spacing: 1px;
   
}

#intro p{
   
    margin-top: 50px ;
   font-size: 21px;
     color: var(--maincolor);
    font-family: var(--mainfont);
  font-weight: 600;
}




#intro button{
  

    border-radius: 20px;
       border: none;
     
       color: white;
   background-color: var(--mainbuttoncolor);
       font-family: var(--mainfont);
       padding: 13px 20px;
       font-weight: 900;
       font-size: .8rem;
       transition: all .2s;
   
   }
   
   
   #intro button:hover{
       color: var(--mainbuttoncolor);
   transform: scale(1.1);
   background-color: rgba(255, 255, 255, 0.568);
   border: 1px solid var(--mainbuttoncolor);
   
   
   
   border: 1px solid --maincolor
   }

.image-container p{
    font-family: var(--mainfont);
    color: black;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: 1px;


}




.par{
    position: absolute;
    top:99%;
    left: 92%;
    transform:translate(-95%, -98%);
    display: grid;
    place-content: center;
  padding: 25px 9px;
  color: #022833;
    height: 40px;
    background-color: var(--mainbuttoncolor); 
       border-top-left-radius: 10px;
    border-bottom-right-radius: 20px;
    width: 180px;
}

.par >p{
    color:rgba(255, 255, 255, 0.882);
    font-size: .6rem;
    font-family: var(--mainfont);
    

}
} 
