body{
   position: relative;
    width: 100vw;
    height: 100vh;
}

#successlogin{
    position: absolute;
    top: 10%;
    left: 50%;
  transform: translate(-50%, 5%);
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}


a:hover, a:active{
    color: red;
}
.login_message{
    margin: 10px 0px;
    letter-spacing: .3px;
    text-align: center;
    font-family: var(--mainfont);
}

.aside h2 >span{
    color: white;
}


:root{
    --maincolor: #006888;
    --maintitlefont: 'lato', sans-serif;    
    --mainfont:'Roboto', sans-serif;
    --mainbuttoncolor:#022833;
    
    }

    .logdetails input[type="text"]:focus,
.logdetails input[type="password"]:focus{
    background-color: var(--maincolor);
    color: white;
}
    
.aside{
    display: none;
}

.login-body{
   display: grid;
   place-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--maincolor);
   
}


.login{
height: 640px;
width: 420px;
border-radius: 20px;
margin: auto;
background-color: white;

}

.logdetails{
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
      flex-direction: column; 
  
}


.logdetails h2{
    font-size: 1.5rem;
  margin: 15px 20px 10px 0px;
  font-family: var(--maintitlefont);

}
.logdetails input[type="text"],
.logdetails input[type="password"]{
    height: 40px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid var(--mainbuttoncolor);
    width: 300px;
    margin-bottom: 10px;
}

.logdetails input[type="password"]{
    margin-bottom: 20px;
}
.logdetails input::placeholder{
    color: rgba(0, 0, 0, 0.733);
    font-family: var(--mainfont);
    font-size: .8rem;
    font-weight: 400;

}

form h3{
    font-family: var(--mainfont);
    font-size: 1rem;
    font-weight: 400;

}
form .remember{
    width: 300px;
    
}




.logdetails input[type="checkbox"]{

 height: 15px;
 width: 20px;
font-size: 1rem;
font-family: var(--mainfont);

}

.logdetails .remember span{
    cursor: pointer;
    margin-left: 50px;
    color: rgba(255, 0, 0, 0.69)
   
   }

   .logdetails .remember span:hover{
    cursor: pointer;
    color: red;

   
   }

   .password a{
       cursor: pointer;
       color: rgba(255, 0, 0, 0.69);

   }

   .password a:hover{
       color: red;
   }

   #second a{
       color: #000;
   }


   .logdetails button{
       width: 300px;
       height: 40px;
       margin-top: 20px;
       border: none;
       color: white;
       font-family: var(--mainfont);
       font-size: 1rem;
       font-weight: 600;
       border-radius: 20px;
       background-color: var(--mainbuttoncolor);
       transition: all .2s;
   }
   .logdetails button:hover{
       
    background-color: #006888;
    color: white;
   

}
   
  .det-part2  .social-media > span{
      display: inline-block;
       height: 25px;
       width: 28px;
       overflow: hidden;
       margin: 10px 3px 10px 3px;
   }



.social-media span > img{
       width: 100%;
       height: auto;
       padding-right: 3px;
       cursor: pointer;
}


.det-part1{
    display:flex;
flex-direction: column;
align-items: center;
justify-content: center;

height: 95%;
}
.det-part2 {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
    margin-bottom: 20px;
}

.det-part2 #first {
 font-family: var(--mainfont);
    margin-bottom: 15px;

}

.det-part2 #second {

    color: black ;
    font-family: var(--mainfont);

   }

   .det-part2 #second a {
  text-decoration: none;
    color: rgba(255, 0, 0, 0.651) ;
 margin-left: 15px;
    font-family: var(--mainfont);
       padding-bottom: 20px;
       padding-top: 20px;
   }

  
     .det-part2 #second a:hover{
         color: red;
     } 

#input-name{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
       font-size: 1rem;
       font-weight: 600;
       margin-bottom: 10px;
   
   }
   


   @media only screen and (min-width: 700px){

    :root{
        --maincolor: #006888;
        }
        
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body{
            width: 100vw;
            height: 100vh;
            overflow-x: hidden;
        }

        

.login-body{
   display: flex;
   justify-content: center;
  align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0068882d;
}

.login{
height: 750px;
width: 950px;
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;

}

.login .aside{
     display: flex;
        justify-content: center;
        align-items: center;
       border-radius: 20px;
        width: 40%;
        height: 100%;
        background-color: var(--maincolor);
    
}

.login .logdetails{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60%;
    height: 70%;
    background-color: white;
}

.logdetails h2{
    font-size: 1.9rem;
  margin: 25px 20px 30px 0px;
  font-family: var(--maintitlefont);

}
.logdetails input[type="text"],
.logdetails input[type="password"]{
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid var(--mainbuttoncolor);
    width: 400px;
    margin-bottom: 20px;
}


.det-part1{
    display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form .remember{
    width: 400px;
    
}


.logdetails input[type="checkbox"]{

 height: 20px;
 width: 30px;
font-size: 1.3rem;
font-family: var(--mainfont);

}

.logdetails .remember span{

    margin-left: 153px;
  
   
   }

   .logdetails button{
       width: 400px;
       height: 44px;
       margin-top: 29px;
       border: none;
       color: white;
       font-family: var(--mainfont);
       font-size: 1rem;
       font-weight: 600;
       border-radius: 10px;
       background-color: var(--mainbuttoncolor);
       transition: all .2s;
   }

   .logdetails button:hover{
       
       background-color: #006888;
       color: white;
      

   }
   
  .det-part2  .social-media > span{
      display: inline-block;
       height: 25px;
       width: 28px;
       overflow: hidden;
       margin: 4px 3px 10px 3px;
   }


.social-media span > img{
       width: 100%;
       height: auto;
       padding-right: 3px;
}

.det-part2 {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
    margin-bottom: 20px;
}

.det-part2 #first {
 font-family: var(--mainfont);
    margin-bottom: 15px;

}

.det-part2 #second {

    color: black ;
    font-family: var(--mainfont);

   }

   .det-part2 #second a {
  text-decoration: none;
    color: rgba(255, 0, 0, 0.678) ;
 margin-left: 15px;
    font-family: var(--mainfont);
       padding-bottom: 20px;
       padding-top: 20px;
   }

   .det-part2 #second a:hover{
       color: red;
   } 

#input-name{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;

}



}

@media only screen and (min-width: 700px) and (max-width:1200px){
  

    .login-body{
        display: flex;
        justify-content: center;
       align-items: center;
         width: 100vw;
         height: 100vh;
         background-color: #0068882d;
     }
     
     .login{
     height: 80%;
     width: 80%;
     
     background-color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     }
     
     .login .aside{
         display: flex;
         justify-content: center;
         align-items: center;
        border-radius: 20px;
         width: 30%;
         height: 100%;
         background-color: var(--maincolor);
     }
     
     .login .logdetails{
         width: 70%;
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px;
         height: 100%;
         background-color: white;
     }
   

     .logdetails h2{
        font-size: 1.9rem;
      margin: 25px 20px 30px 0px;
      font-family: var(--maintitlefont);
    
    }
    .logdetails input[type="text"],
    .logdetails input[type="password"]{
        height: 45px;
        border-radius: 10px;
        padding-left: 10px;
        border: 1px solid var(--mainbuttoncolor);
        width: 350px;
        margin-bottom: 29px;
    }
    
    
    
    .aside h2{
        color: rgba(255, 255, 255, 0.664);
    
        font-family: var(--mainfont);
        font-size: 1.4rem;
        line-height: 30px;
        letter-spacing: .5px;
    }
    .det-part1{
        display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    form .remember{
        width: 350px;
        
    }
    
    
    .logdetails input[type="checkbox"]{
    
     height: 20px;
     width: 30px;
    font-size: 1.3rem;
    font-family: var(--mainfont);
    
    }
    
    .logdetails .remember span{
    
        margin-left: 103px;
        color: rgba(255, 0, 0, 0.719)
       
       }
    
       .logdetails button{
           width: 350px;
           height: 44px;
           margin-top: 29px;
           border: none;
           color: white;
           font-family: var(--mainfont);
           font-size: 1rem;
           font-weight: 600;
           border-radius: 15px;
           background-color: var(--mainbuttoncolor);
           transition: all .2s;
       }
    
       .logdetails button:hover{
           
           background-color: #006888;
           color: white;
          
    
       }
       
      .det-part2  .social-media > span{
          display: inline-block;
           height: 25px;
           width: 28px;
           overflow: hidden;
           margin: 4px 3px 10px 3px;
       }
    

    
    .social-media span > img{
           width: 100%;
           height: auto;
           padding-right: 3px;
    }
    
    .det-part2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin-bottom: 20px;
    }
    
    .det-part2 #first {
     font-family: var(--mainfont);
        margin-bottom: 15px;
    
    }
    
    .det-part2 #second {
    
        color: black ;
        font-family: var(--mainfont);
    
       }
    
       .det-part2 #second a {
      text-decoration: none;
        color: red ;
     margin-left: 15px;
        font-family: var(--mainfont);
           padding-bottom: 20px;
           padding-top: 20px;
       } 
    
}

@media only screen and (min-width: 1000px){

    :root{
        --maincolor: #006888;
        }
        
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body{
            width: 100vw;
            height: 100vh;
            overflow-x: hidden;
        }


.login-body{
   display: flex;
   justify-content: center;
  align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0068882d;
}

.login{
height: 700px;
width: 900px;
background-color: white;
display: flex;
justify-content: space-between;
align-items: center;

}

.login .aside{
     display: flex;
        justify-content: center;
        align-items: center;
       border-radius: 20px;
        width: 40%;
        height: 100%;
        background-color: var(--maincolor);
    
}

.login .logdetails{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 60%;
    height: 90%;
    background-color: white;
}

.logdetails h2{
    font-size: 1.9rem;
  margin: 25px 20px 30px 0px;
  font-family: var(--maintitlefont);

}
.logdetails input[type="text"],
.logdetails input[type="password"]{
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid var(--mainbuttoncolor);
    width: 400px;
    margin-bottom: 29px;
}


.det-part1{
    display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form .remember{
    width: 400px;
    
}


.logdetails input[type="checkbox"]{

 height: 20px;
 width: 30px;
font-size: 1.3rem;
font-family: var(--mainfont);

}

.logdetails .remember span{

    margin-left: 153px;
    color: rgba(255, 0, 0, 0.719)
   
   }

   .logdetails button{
       width: 400px;
       height: 45px;
       margin-top: 29px;
       border: none;
       color: white;
       font-family: var(--mainfont);
       font-size: 1rem;
       font-weight: 600;
       border-radius: 15px;
       background-color: var(--mainbuttoncolor);
       transition: all .2s;
   }

   .logdetails button:hover{
       
       background-color: #006888;
       color: white;
      

   }
   
  .det-part2  .social-media > span{
      display: inline-block;
       height: 25px;
       width: 28px;
       overflow: hidden;
       margin: 4px 3px 10px 3px;
   }


.social-media span > img{
       width: 100%;
       height: auto;
       padding-right: 3px;
}

.det-part2 {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
    margin-bottom: 20px;
}

.det-part2 #first {
 font-family: var(--mainfont);
    margin-bottom: 15px;

}

.det-part2 #second {

    color: black ;
    font-family: var(--mainfont);

   }

   .det-part2 #second a {
  text-decoration: none;
    color: red ;
 margin-left: 15px;
    font-family: var(--mainfont);
       padding-bottom: 20px;
       padding-top: 20px;
   }




   .aside h2{
    color: rgba(255, 255, 255, 0.664);

    font-family: var(--mainfont);
    font-size: 1.4rem;
    line-height: 30px;
    letter-spacing: .5px;
}


}