

:root{
    --maincolor: #006888;
    --maintitlefont: 'lato', 'Playfair Display', serif;    
    --mainfont:'Roboto', sans-serif;;
    --mainbuttoncolor:#022833;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background-color: var(--maincolor);
    }
    
    
    header .icon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    header img{
        margin-right: 5px;
        width: 30px;
        height: 25px;
      
    }
    header h3{
        font-family: var(--maintitlefont);
        font-weight: 900;
        letter-spacing: .5px;
        font-size: 1.4rem;
        color: black;
    }
    .containself{
        max-width: 96%;
        margin: auto;
    }
    
    header{
    
        height: 50px;
        background-color: white;
       
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    
     header button{
         padding: 7px 12px;
    font-family: var(--mainfont);
         border: none;
         display: inline;
         background-color: white;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.699);
         transition: all .1s
        
     }
    
    #nav-but1 a{
       color: var(--maincolor);
        font-size: .9em;
        font-weight: 900;
        text-decoration: none;
     }
     #nav-but2 a{
        color: white;
         font-size: .9em;
         font-weight: 900;
         text-decoration: none;
      }
    
    #nav-but1{
        border-top-left-radius:10px ;
        border-bottom-left-radius:10px ;
        border-top-left-radius:10px ;
        border: 1px solid var(--maincolor);
        color: var(--mainbuttoncolor);
        margin-right: -5px;
    }
    
    #nav-but1:hover{
        transform: scale(1.1);
    
    background-color: var(--maincolor);
    color: white;
    }
    
    #nav-but1:hover a{
        color:white;
    }
    
    #nav-but2:hover{
        transform: scale(1.1);
    background-color: white;
    color:#022833;
    }
    
    #nav-but2:hover a{
        color:#022833;
    }
    
    
    #nav-but2{
        border-top-right-radius:10px ;
        border-bottom-right-radius:10px ;
        border: 1px solid var(--maincolor);
        color: white;
        background-color: var(--mainbuttoncolor);
     
    }
    
    .content{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    } 
    
    .content > .image-container{
        background-color: var(--maincolor);
        width: 100%;
        height: 550px;
      overflow: hidden;
      position: relative;
    }
    .content > .image-container img{
      width: 100%;
      height: 100%;
       
    }
    
    
    button{
        cursor: pointer;
    }
    
    .image-container .click{
        position: absolute;
        left: 45%;
        top: 93%;
       
    }
    
    .image-container p{
        font-family: var(--mainfont);
        color: black;
        font-size: .7rem;
        margin-bottom: 5px;
        font-weight: 600;
        letter-spacing: 1px;
    
    
    }
    
    
    .par{
        position: absolute;
        top: 85%;
        left: 30%;
        display: grid;
        place-content: center;
      padding: 5px;
        height: 50px;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 20px;
        width: 200px;
    }
    .image-container .dotted {
      background-color: var(--maincolor);
    }
    
    .image-container span{
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 3px;
        border-radius: 50%;
        background-color: white;
       
    }
    
    
    
    .intro-container{  
    position: relative;
    
    }
    
    
    #intro{
    margin: 10px 30px;
    
    
    }
    
    #intro h1{
        font-family: var(--maintitlefont);
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 1px;
        color: white;
        
       
    }
    
    #intro h1 >span{
        color: var(--mainbuttoncolor);
        font-family: var(--maintitlefont);
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 1px;
       
    }
    
    #intro p{
       
       font-size: 15px;
       margin: 20px 0 ;
         color: rgba(255, 255, 255, 0.705);
        font-family: var(--mainfont);
      font-weight: 600;
    }
    
    
    
    
    #intro button{
      
     
       margin-bottom: 15px;
     border-radius: 10px;
        border: 1px solid white;
        color: var(--maincolor);
    background-color: white;
        font-family: var(--mainfont);
        padding: 10px 20px;
        font-weight: 900;
        font-size: .8rem;
        transition: all .2s;
    
    }
    
    
    #intro button:hover{
    
    transform: scale(1.1);
    background-color: var(--mainbuttoncolor);
    color: white;
    border: 1px solid --maincolor
    }
    
    .aside{
        display: none;
    }
    .login-body{
       display: grid;
       place-content: center;
        left: 50%;
        width: 100vw;
        height: 100vh;
        background-color: var(--maincolor);
    }
    
    
    .login{
    height: 500px;
    width: 400px;
    border-radius: 20px;
    margin: auto;
    background-color: white;
    }
    
    .logdetails{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .logdetails h2{
        font-size: 1.5rem;
      margin: 15px 20px 30px 0px;
      font-family: var(--maintitlefont);
    
    }
    .logdetails input[type="text"],
    .logdetails input[type="password"]{
        height: 50px;
        border-radius: 20px;
        padding-left: 10px;
        border: 1px solid var(--mainbuttoncolor);
        width: 300px;
        margin-bottom: 20px;
    }
    
    .logdetails input::placeholder{
        color: rgba(0, 0, 0, 0.733);
        font-family: var(--mainfont);
        font-size: 1rem;
        font-weight: 400;
    
    }
    
    form .remember{
        width: 300px;
        
    }
    
    
    
    
    .logdetails input[type="checkbox"]{
    
     height: 15px;
     width: 20px;
    font-size: 1rem;
    font-family: var(--mainfont);
    
    }
    
    .logdetails .remember span{
        cursor: pointer;
        margin-left: 60px;
        color: rgba(255, 0, 0, 0.719)
       
       }
    
       .logdetails button{
           width: 300px;
           height: 40px;
           margin-top: 25px;
           border: none;
           color: white;
           font-family: var(--mainfont);
           font-size: 1rem;
           font-weight: 600;
           border-radius: 25px;
           background-color: var(--mainbuttoncolor);
           transition: all .2s;
       }
       .logdetails button:hover{
           
        background-color: #006888;
        color: white;
       
    
    }
       
      .det-part2  .social-media > span{
          display: inline-block;
           height: 25px;
           width: 28px;
           overflow: hidden;
           margin: 4px 3px 10px 3px;
       }
    
     .social-media{
        
     }
    
    .social-media span > img{
           width: 100%;
           height: auto;
           padding-right: 3px;
           cursor: pointer;
    }
    
    
    .det-part1{
        display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .det-part2 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        margin-bottom: 20px;
    }
    
    .det-part2 #first {
     font-family: var(--mainfont);
        margin-bottom: 15px;
    
    }
    
    .det-part2 #second {
    
        color: black ;
        font-family: var(--mainfont);
    
       }
    
       .det-part2 #second a {
      text-decoration: none;
        color: red ;
     margin-left: 15px;
        font-family: var(--mainfont);
           padding-bottom: 20px;
           padding-top: 20px;
       }


         
.aside{
    display: none;
}
.login-body{
   display: grid;
   place-content: center;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-color: var(--maincolor);
}


.login{
height: 500px;
width: 400px;
border-radius: 20px;
margin: auto;
background-color: white;
}

.logdetails{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.logdetails h2{
    font-size: 1.5rem;
  margin: 15px 20px 30px 0px;
  font-family: var(--maintitlefont);

}
.logdetails input[type="text"],
.logdetails input[type="password"]{
    height: 50px;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid var(--mainbuttoncolor);
    width: 300px;
    margin-bottom: 20px;
}

.logdetails input::placeholder{
    color: rgba(0, 0, 0, 0.733);
    font-family: var(--mainfont);
    font-size: 1rem;
    font-weight: 400;

}

form .remember{
    width: 300px;
    
}




.logdetails input[type="checkbox"]{

 height: 15px;
 width: 20px;
font-size: 1rem;
font-family: var(--mainfont);

}

.logdetails .remember span{
    cursor: pointer;
    margin-left: 50px;
    color: rgba(255, 0, 0, 0.719)
   
   }

   .logdetails button{
       width: 300px;
       height: 40px;
       margin-top: 25px;
       border: none;
       color: white;
       font-family: var(--mainfont);
       font-size: 1rem;
       font-weight: 600;
       border-radius: 25px;
       background-color: var(--mainbuttoncolor);
       transition: all .2s;
   }
   .logdetails button:hover{
       
    background-color: #006888;
    color: white;
   

}
   
  .det-part2  .social-media > span{
      display: inline-block;
       height: 25px;
       width: 28px;
       overflow: hidden;
       margin: 4px 3px 10px 3px;
   }

 .social-media{
    
 }

.social-media span > img{
       width: 100%;
       height: auto;
       padding-right: 3px;
       cursor: pointer;
}


.det-part1{
    display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.det-part2 {
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
    margin-bottom: 20px;
}

.det-part2 #first {
 font-family: var(--mainfont);
    margin-bottom: 15px;

}

.det-part2 #second {

    color: black ;
    font-family: var(--mainfont);

   }

   .det-part2 #second a {
  text-decoration: none;
    color: red ;
 margin-left: 15px;
    font-family: var(--mainfont);
       padding-bottom: 20px;
       padding-top: 20px;
   }